* {
    box-sizing: border-box;
}
body{
    direction: rtl;
    text-align: right;
    font-family: 'Arial (Hebrew)', Arial;;
    margin: 0px;
    background: #fff url(images/header_bg.png) repeat-x center top
}
#container{
    width: 900px;
    margin: 0 auto;
    padding-bottom: 30px;
}
#nav-menu>ul{
    display: flex;
}
ul{
    margin:0px;
    padding:0px;
}
li{
    list-style: none;
}
ul>li>a{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    height: 100%
}

#header{
    position: relative;
    background:url(images/header_bg.png);
    color: white;
    height: 105px;
}
a:hover{
    text-decoration: underline;
    color: #005CA0;
}

#hodot-dropdown, #hativot-dropdwon, #haharayut-dropdwon, #conection-dropdwon, #our-station-dropdwon, #carrier-dropdown, #news-dropdown{
    border: solid black 1px;
    position: relative;
    display: block;
    padding: 5px 0px;
    display: none;
}

#nav-menu>ul>li:nth-child(3):hover>#hodot-dropdown{
    display: block;
}
#nav-menu>ul>li:nth-child(5):hover>#hativot-dropdwon{
    display: block;
}
#nav-menu>ul>li:nth-child(7):hover>#haharayut-dropdwon{
    display: block;
}
#nav-menu>ul>li:nth-child(9):hover>#conection-dropdwon{
    display: block;
}
#nav-menu>ul>li:nth-child(11):hover>#our-station-dropdwon{
    display: block;
}
#nav-menu>ul>li:nth-child(13):hover>#carrier-dropdown{
    display: block;
}
#nav-menu>ul>li:nth-child(15):hover>#news-dropdown{
    display: block;
}
#searchBox-continer{
    position: absolute;
    top:20px;
    left:40px;
    width:152px;
}
#input-box{
    float: right;
    width: 132px;
    height: 19px;
    background: url(images/search_input.png) no-repeat 0 0;
}
#link-search{
    display: inline-block;
    background: url(images/search_button.png) no-repeat 0 0;;
    float: left;
    width: 19px;
    height: 19px;
}
#search-text-box{
    position: relative;
    top: 2px;
    right: 4px;
    width: 126px;
    background: transparent; /*do shadow*/
    border: 0 none;
}
.center-page{
    width: 900px;
    margin: 0 auto;
}
.col-33{
 width:33%;
}
.row{
    display: flex;
}
.img-container{
    position: relative;
}
.img-text{
    position: absolute;
    bottom: 0px;
    padding: 10px;
    left: 38px;
    width: 228px;
    height: 77px;
    background:url(images/hp_tab_text_bg.png) no-repeat 0 0;
}
p, .header-text{
    color:white;
}

.header-text{
    font-size: 14px;
    font-weight: bold;
}
p{
    font-size: 13px; 
}
.clearfix{
    content: "";
    clear: both;
    display: table;
}
#fixedfooter {
    width: 100%;
    height: 38px;
    position: fixed;
    bottom: 0px;
    background: url(images/footer_bg.png), grey;
    color: white;
}
.menu-dwonbar >ul{
    display: flex;
}
#fixedfooter .container {
    width: 900px;
    height: 100%;
    margin: 0 auto;
}