* {
    box-sizing: border-box;
}
body{
    direction: rtl;
    text-align: right;
    font-family: 'Arial (Hebrew)', Arial;;
    margin: 0px;
    background: #fff url(images/header_bg.png) repeat-x center top
}
#container{
    width: 900px;
    margin: 0 auto;
    padding-bottom: 30px; /*to work*/
    margin-bottom: 30px;
}
#nav-menu>ul{
    display: flex;
}
#nav-menu>ul>li{
    border-left: 3px solid white;
    margin:0px 5px;
    height: 20px;
    padding-left: 4px;
    padding-right: 4px;
}
ul{
    margin:0px;
    padding:0px;
}
li{
    list-style: none;
}
ul>li>a{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    height: 100%;
}
#header .logo-paz{
    display: block;
    width: 142px;
    height: 93px;
    position: absolute;
    bottom: -20px;
    right: -8px;
    background: url(images/paz_logo.png) no-repeat 0 0;
}
.english-link{
    position: absolute;
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin-left: 35px;
    top: 25px;
    left: 180px;
    text-decoration: none;
}
#header{
    position: relative;
    background:url(images/header_bg.png);
    height: 105px;
}
a{
    color:white;
}
a:hover{
    text-decoration: underline;
    color: #005CA0;
}

#hodot-dropdown, #hativot-dropdwon, #haharayut-dropdwon, #conection-dropdwon, #our-station-dropdwon, #carrier-dropdown, #news-dropdown{
    border: solid black 1px;
    position: relative;
    display: block;
    padding: 5px 0px;
    display: none;
    background: #909090 url(images/menu_dropdown_bg.png) repeat-x 0 0;
    z-index: 100;
}
#nav-menu{
    position: relative;
    top:72px;
    margin-right: 143px;
}
#nav-menu>ul>#hodot:hover>#hodot-dropdown,
#nav-menu>ul>#hativot:hover>#hativot-dropdwon,
#nav-menu>ul>#haharayut:hover>#haharayut-dropdwon,
#nav-menu>ul>#conection:hover>#conection-dropdwon,
#nav-menu>ul>#our-station:hover>#our-station-dropdwon,
#nav-menu>ul>#carrier:hover>#carrier-dropdown,
#nav-menu>ul>#news:hover>#news-dropdown{
    display: block;
    position: absolute;
}
#searchBox-continer{
    position: absolute;
    top:20px;
    left:40px;
    width:152px;
}
#input-box{
    float: right;
    width: 132px;
    height: 19px;
    background: url(images/search_input.png) no-repeat 0 0;
}
#link-search{
    display: inline-block;
    background: url(images/search_button.png) no-repeat 0 0;;
    float: left;
    width: 19px;
    height: 19px;
}
#search-text-box{
    position: relative;
    top: 2px;
    right: 4px;
    width: 126px;
    background: transparent; /*do shadow*/
    border: 0 none;
}
.center-page{
    margin-top: 30px;
}
.col-33{
 width:33%;
}
.row{
    display: flex;
    z-index: 90;
}
.img-container{
    position: relative;
}
.text-continer{
    position: absolute;
    box-sizing: content-box;
    bottom: 0px;
    padding: 10px;
    left: 38px;
    width: 228px;
    height: 77px;
    bottom: 6px;
    background:url(images/hp_tab_text_bg.png) no-repeat 0 0;
}
p{
    color:white;
    margin:0 auto;
}

.header-text{
    font-size: 14px;
    font-weight: bold;
    bottom: 6px
}
p{
    font-size: 13px; 
}

.read-more{
    background: url(images/read_more_white.png) no-repeat left center;
    position: relative;
    bottom: 6px;
    font-size: 13px;
    float: left;
    padding-left:12px;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
#fixedfooter {
    width: 100%;
    height: 38px;
    position: fixed;
    bottom: 0px;
    background: url(images/footer_bg.png), grey;
    color: white;
    right: 0;
}
.lower-cube{
    background: url(images/small_cube_bg.png) no-repeat 0 0;
    height: 216px;
    padding: 0 24px;
} 
.lower-cube>p{
    color: #575757;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 6px;
}
.lower-cubes{
    margin-top: 18px;
}
.more-details{
    color: #72716d;
}
.gaz-direction, .more-details{
    color: #72716d;
    font-size: 13px;
    background: url(images/read_more_yellow.png) no-repeat left center;
    padding-left: 12px;
    text-decoration: underline;
}
.more-details{
    float: left;
}
.gaz-direction:hover{
    color: #005CA0;
}
#img-row2{

}
#img-israel{
    float: left;
}
.menu-dwonbar >ul{
    display: flex;
}
#fixedfooter .container {
    width: 900px;
    height: 100%;
    margin: 0 auto;
}